body {
    margin: 0;
    background: #0a0a0a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box {
    background: #151515;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.upload-box input, .upload-box button {
    width: 80%;
    padding: 12px;
    margin-top: 10px;
}

.title {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

.container {
    display: flex;
    height: 88vh;
}

.canal-lista {
    width: 25%;
    padding: 10px;
    overflow-y: scroll;
    background: #111;
}

.canal-item {
    background: #222;
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}

.canal-item img {
    width: 70px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.player-area {
    width: 75%;
    padding: 10px;
}

video {
    width: 100%;
    height: 70vh;
    background: black;
    border-radius: 8px;
}

#epg {
    background: #1a1a1a;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}